rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /portraits/{imageId} {
      allow read; // Public can read images
      allow create: if request.auth != null; // Server can upload new images
      // Allow admins to delete images. The get() function checks the user's role in Firestore.
      allow delete: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
  }
}
