rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read access to all files
    match /{allPaths=**} {
      allow read: if true;
      // Allow writes only for authenticated users (i.e., from the server-side action)
      allow write: if request.auth != null;
    }
  }
}
